In [3]:
import numpy as np
import pandas as pd
import math
import re

In [4]:
to_clean = []
with open(r"tabn102.30.csv") as f:
    for lines in f:
        if re.findall('-[0-9]|[0-9]', lines):
            to_clean.append(lines.replace(',,', '').replace('\n', ''))
        else:
            pass

In [5]:
raw_data = to_clean[4:-3]
raw_data[0]

'   United States,"$60,000","$64,600","$60,700",(80),"$58,800",(50),"$58,000",(60),"$60,200",(60),"$61,400",(70),"$62,900",(50),"$63,100",(60),"$65,700",(70),'

In [6]:
index = []
clean_data = []
for i in range(0, len(raw_data)):
    clean_string = ''
    cleaner_data = []
    for k in range(0, len(raw_data[i])):
        try:
            if re.findall('[0-9],[0-9]', raw_data[i][k-1] + raw_data[i][k] + raw_data[i][k+1]):
                pass
            elif raw_data[i][k] == '"':
                pass
            elif raw_data[i][k] == '$':
                pass
            else:
                clean_string = clean_string + raw_data[i][k]
        except:
            pass
    clean_string = clean_string.strip()
    list_to_clean = clean_string.split(',')
    for items in list_to_clean:
        if re.findall('[a-z]', items):
            index.append(items)
        elif re.findall('\(', items):
            pass
        else:
            cleaner_data.append(items)
    clean_data.append(cleaner_data)

In [7]:
title = 'Median Household Income by State: Selected years 1990 through 2019,'
column_level1 = (title * 10).split(',')[:-1]
column_level1 = np.array(column_level1)
column_level1.shape

(10,)

In [8]:
column_level2 = np.array([1990, 2000, 2005, 2010, 2014, 2015, 2016, 2017, 2018, 2019])
column_level2.shape

(10,)

In [9]:
column_arrays = [column_level1, column_level2]

In [11]:
df = pd.DataFrame(clean_data, columns=column_arrays, index=index)
df = df.astype(int)

In [13]:
df.describe()

      Median Household Income by State: Selected years 1990 through 2019  \
                                                                    1990
count                                          52.000000
mean                                        58194.230769
std                                         10895.194362
min                                         40200.000000
25%                                         51525.000000
50%                                         57400.000000
75%                                         62775.000000
max                                         83300.000000

                                                                             \
               2000          2005          2010          2014          2015
count     52.000000     52.000000     52.000000     52.000000     52.000000
mean   63657.692308  60161.538462  58723.076923  58848.076923  60853.846154
std     9586.803556   9564.008386   9456.787486   9876.621046  10173.118394
min    45700.000000  43200.000000  43300.000000  42900.000000  43800.000000
25%    57250.000000  53700.000000  51850.000000  51625.000000  53375.000000
50%    62700.000000  58250.000000  57000.000000  56950.000000  59200.000000
75%    70800.000000  66125.000000  64525.000000  66000.000000  68050.000000
max    84900.000000  80900.000000  80900.000000  80000.000000  81800.000000


               2016          2017          2018          2019
count     52.000000     52.000000     52.000000     52.000000
mean   61928.846154  62821.153846  63136.538462  65517.307692
std    10359.145558  10586.327411  10695.445775  11060.984624
min    44500.000000  45300.000000  44900.000000  45800.000000
25%    54875.000000  55525.000000  56450.000000  57550.000000
50%    60400.000000  61400.000000  61350.000000  63250.000000
75%    69925.000000  71300.000000  71875.000000  74825.000000
max    84100.000000  85900.000000  86700.000000  92300.000000